{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                 <div class="book">
                     <a href="{% url 'pagi' book.slug %}">

                         <h4>{{ book.name }}</h4></a>
                        <div class="author">Автор: {{ book.author }}</div>
                        <div class="date">Дата публикации: {{ book.pub_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <p>&nbsp</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}